@model Hospital01.Dto.PersonaDto

@{
    ViewData["Title"] = "Edit";
    var sexoList = ViewBag.SexoList;
}

<h1>Editar Persona</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Bhabilitado" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidoPaterno" class="control-label"></label>
                <input asp-for="ApellidoPaterno" class="form-control" />
                <span asp-validation-for="ApellidoPaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidoMaterno" class="control-label"></label>
                <input asp-for="ApellidoMaterno" class="form-control" />
                <span asp-validation-for="ApellidoMaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefonoFijo" class="control-label"></label>
                <input asp-for="TelefonoFijo" class="form-control" />
                <span asp-validation-for="TelefonoFijo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefonoCelular" class="control-label"></label>
                <input asp-for="TelefonoCelular" class="form-control" />
                <span asp-validation-for="TelefonoCelular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
                @if(Model != null && Model.EmailErrorMessage != null){
                    <span class="text-danger">@Model.EmailErrorMessage</span>
                }
            </div>
            <div class="form-group">
                <label asp-for="SexoId" class="control-label"></label>
                <select asp-for="SexoId" asp-items="sexoList" class="form-control"></select>
                <span asp-validation-for="SexoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Regresar al listado</a>
            </div>
        </form>
    </div>
</div>
