@model Hospital01.Dto.EspecialidadDto

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Especialidad</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form id="frm_especialidad_edit" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" class="form-control" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bhabilitado" class="control-label"></label>
                <input asp-for="Bhabilitado" class="form-control" />
                <span asp-validation-for="Bhabilitado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestMessage1" class="control-label"></label>
                <input asp-for="TestMessage1" class="form-control" />
                <span asp-validation-for="TestMessage1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestMessage2" class="control-label"></label>
                <input asp-for="TestMessage2" class="form-control" />
                <span asp-validation-for="TestMessage2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" value="Actualizar" class="btn btn-primary" onclick="Actualizar()" />
                <a asp-action="Index" class="btn btn-secondary">Regresar al listado</a>
            </div>
        </form>
    </div>
</div>
<script>
    function Actualizar() {
        ConfirmSave().then((result) => {
            if (result.isConfirmed) {
                document.getElementById("frm_especialidad_edit").submit();
            }
        })
    }
</script>